.formInputs {
  margin-top: 2vh;
}

.mainCol {
  width: 50vw;
  grid-column-start: 3;
  grid-column-end: span col3-start;
}

textarea {
  resize: none;
  overflow-y: scroll;

  @media screen and (max-height: 400px) {
    height: 40vh;
  }
}

.success-msg {
  color: #57a773;
  padding: 15px 15px;
}

.fail-msg {
  color: #ee6352;
  padding: 15px 15px;
}
