.formInputs {
  margin-top: 2vh;
}

.mainCol {
  width: 50vw;
  grid-column-start: 3;
  grid-column-end: span col3-start;
}

textarea {
  resize: none;
  overflow-y: scroll;

  @media screen and (max-height: 400px) {
    height: 40vh;
  }
}
