nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  /* background: transparent; */
  box-shadow: black;
  color: white;
}

.nav-Links {
  width: 90%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  list-style: none;
}

.nav-Name {
  text-align: left;
  float: left;
  text-decoration: none;
  color: white;
}
