.carouselItem {
  position: relative;
  padding-top: 50px;
  width: 40vw;
  height: 50vh;
  justify-content: center;
  text-align: center;
}

.carouselItem:hover {
  transform: scale(1.05);
}

.caption {
  padding-top: 5vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.courselCSS {
  position: relative;
  background-color: black;
  text-align: center;
  padding-top: 15px;
}

.carouselContainer {
  height: 90vh;
  width: 100%;
  background: black;
}

.carouselTitle {
  color: white;
  text-align: center;
  padding-top: 50px;
}
